<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Giriş Yap</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" crossorigin="anonymous" />

</head>

<body>
	<div class="container" id="container">
		<div class="form-container sign-up-container">
			<form method="post">
				{% csrf_token %}
				<h1>Kayıt Ol</h1>
				<input type="text" name="tc" placeholder="TC Kimlik No" />
				<input type="password" name="password" placeholder="Şifre" />
				
				<button type="submit" id="signUp">Kayıt Ol</button>
			</form>
		</div>
		<div class="form-container sign-in-container">
			<form method="post">
				{% csrf_token %}
				<h1>Giriş Yap</h1>
				<input type="text" placeholder="T.C Kimlik No" />
				<input type="password" placeholder="Şifre" />
				
				<button type="submit" id="signIn">Giriş Yap</button>
			</form>
		</div>
		<div class="overlay-container">
			<div class="overlay">
				<div class="overlay-panel overlay-left">
					<h1>Hoşgeldiniz</h1>
					<p>Evinizden sağlık hizmetleri almak için kayıt olabilirsiniz.</p>
					<button  type="button" class="ghost" id="signIn">Giriş Yap</button>
				</div>
				<div class="overlay-panel overlay-right">
					<h1>Merhaba</h1>
					<p>Evinizden sağlık hizmetleri almak için lütfen giriş yapın.</p>
					<button type="button"class="ghost" id="signUp">Kayıt Ol</button>
				</div>
			</div>
		</div>
	</div>

	<script src="{% static 'js/ui.js' %}"></script>
</body>